[submodule "ggml"]
	path = extern/ggml
	url = git@github.com:ggerganov/ggml.git
[submodule "extern/argparse"]
	path = extern/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "extern/sbdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "extern/ggml"]
	path = extern/ggml
	url = https://github.com/ggerganov/ggml
